In [9]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [10]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
841,tt1596346,18000000,47088990,Soul Surfer,AnnaSophia Robb|Helen Hunt|Lorraine Nicholson|...,Sean McNamara,"When you come back from a loss, beat the odds,...",Soul Surfer is the inspiring true story of tee...,106,Action|Drama,Mandalay Pictures|TriStar Pictures|Brookwell-M...,4/8/2011,6.9,2011
1120,tt0314353,70000000,85632458,Tears of the Sun,Bruce Willis|Monica Bellucci|Cole Hauser|Eamon...,Antoine Fuqua,He was trained to follow orders. He became a h...,Navy SEAL Lieutenant A.K. Waters and his elite...,121,Action|Drama|War,Columbia Pictures|Revolution Studios|Cheyenne ...,3/7/2003,6.4,2003
204,tt1742334,35000000,17508518,Sabotage,Arnold Schwarzenegger|Sam Worthington|Mireille...,David Ayer,Leave no loose ends,"In ""Sabotage"", Arnold Schwarzenegger leads an ...",110,Action|Drama|Thriller|Crime,Open Road Films|QED International|Albert S. Ru...,3/28/2014,5.4,2014
1295,tt1413495,35000000,13785015,Paranoia,Liam Hemsworth|Harrison Ford|Gary Oldman|Amber...,Robert Luketic,In a war between kings even a pawn can change ...,An entry-level employee at a powerful corporat...,106,Drama|Thriller,Gaumont|Kintop Pictures|Reliance Entertainment...,8/14/2013,5.6,2013
401,tt0429493,110000000,177238796,The A-Team,Liam Neeson|Bradley Cooper|Jessica Biel|Sharlt...,Joe Carnahan,There Is No Plan B,A group of Iraq War veterans goes on the run f...,117,Thriller|Action|Adventure|Comedy|Crime,20th Century Fox,6/10/2010,6.2,2010

In [11]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [12]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [13]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '...'
# если ответили верно, можете добавить комментарий со значком "+"

In [14]:
# тут пишем ваш код для решения данного вопроса: 
answers['1'] = data.sort_values('budget', ascending=False).head(1)['original_title'].values[0]

ВАРИАНТ 2

In [15]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [16]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = data.sort_values('runtime', ascending=False).head(1)['original_title'].values[0]

In [17]:
print(answers)

{'1': 'Pirates of the Caribbean: On Stranger Tides', '2': 'Gods and Generals'}

# 3. Какой из фильмов самый короткий (в минутах)?

In [18]:
answers['3'] = data.sort_values('runtime', ascending=True).head(1)['original_title'].values[0]

# 4. Какова средняя длительность фильмов?

In [19]:
answers['4'] = data['runtime'].mean()

# 5. Каково медианное значение длительности фильмов?

In [20]:
answers['5'] = data['runtime'].median()

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [21]:
# лучше код получения столбца profit вынести в Предобработку что в начале
data['profit'] = data['revenue'] - data['budget']

In [22]:
answers['6'] = data.sort_values('profit', ascending=False).head(1)['original_title'].values[0]

# 7. Какой фильм самый убыточный?

In [23]:
answers['7'] = data.sort_values('profit', ascending=True).head(1)['original_title'].values[0]

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [24]:
answers['8'] = data[data['profit']>0].shape[0]

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [25]:
answers['9'] = data[data['release_year'] == 2008].sort_values('revenue', ascending=False).head(1)['original_title'].values[0]

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [26]:
answers['10'] = data[(data['release_year'] >= 2012) & (data['release_year'] <= 2014)].sort_values('profit', ascending=True).head(1)['original_title'].values[0]

# 11. Какого жанра фильмов больше всего?

In [27]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
cnt = {}
for index, row in data.iterrows():
    for genre in row['genres'].split('|'):
        if genre in cnt:
            cnt[genre] += 1
        else:
            cnt[genre] = 1
answers['11'] =sorted(cnt.items(), key=lambda x: x[1])[-1][0]

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [28]:
cnt = {}
for index, row in data.iterrows():
    if row['profit'] <= 0:
        continue
    for genre in row['genres'].split('|'):
        if genre in cnt:
            cnt[genre] += 1
        else:
            cnt[genre] = 1
answers['12'] =sorted(cnt.items(), key=lambda x: x[1])[-1][0]
print(answers['12'])

Drama

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [29]:
cnt = {}
for index, row in data.iterrows():
    for director in row['director'].split('|'):
        if director in cnt:
            cnt[director] += row['profit']
        else:
            cnt[director] = row['profit']
answers['13'] = sorted(cnt.items(), key=lambda x: x[1])[-1][0]
print(answers['13'])

Peter Jackson

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [30]:
cnt = {}
for index, row in data.iterrows():
    if 'Action' in row['genres']:        
        for director in row['director'].split('|'):
            if director in cnt:
                cnt[director] += 1
            else:
                cnt[director] = 1
answers['14'] = sorted(cnt.items(), key=lambda x: x[1])[-1][0]
print(answers['14'])

Robert Rodriguez

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [31]:
cnt = {}
for index, row in data.iterrows():
    if row['release_year'] != 2012:
        continue 
    for cast in row['cast'].split('|'):
        if cast in cnt:
            cnt[cast] += row['revenue']
        else:
            cnt[cast] = row['revenue']
answers['15'] = sorted(cnt.items(), key=lambda x: x[1])[-1][0]
print(answers['15'])

Chris Hemsworth

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [32]:
sum_budgets = 0
cnt_budgets = 0
for index, row in data.iterrows():
    sum_budgets += row['budget']
    cnt_budgets += 1
avg_budgets = sum_budgets / cnt_budgets

cnt = {}
for index, row in data.iterrows():
    if row['budget'] <= avg_budgets:
        continue
    for cast in row['cast'].split('|'):
        if cast in cnt:
            cnt[cast] += 1
        else:
            cnt[cast] = 1
answers['16'] = sorted(cnt.items(), key=lambda x: x[1])[-1][0]
print(answers['16'])

Matt Damon

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [33]:
cnt = {}
for index, row in data.iterrows():
    if 'Nicolas Cage' not in row['cast']:
        continue
    for genre in row['genres'].split('|'):
        if genre in cnt:
            cnt[genre] += 1
        else:
            cnt[genre] = 1
answers['17'] = sorted(cnt.items(), key=lambda x: x[1])[-1][0]
print(answers['17'])

Action

# 18. Самый убыточный фильм от Paramount Pictures

In [34]:
cnt = {}
for index, row in data.iterrows():
    if 'Paramount Pictures' not in row['production_companies']:
        continue
    cnt[row['original_title']] = row['profit']
answers['18'] = sorted(cnt.items(), key=lambda x: x[1])[0][0]
print(answers['18'])

K-19: The Widowmaker

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [35]:
cnt = {}
for index, row in data.iterrows():
    if row['release_year'] in cnt:
        cnt[row['release_year']] += row['revenue']
    else:
        cnt[row['release_year']] = row['revenue']
answers['19'] = sorted(cnt.items(), key=lambda x: x[1])[-1][0]
print(answers['19'])

2015

# 20. Какой самый прибыльный год для студии Warner Bros?

In [36]:
cnt = {}
for index, row in data.iterrows():
    if 'Warner Bros' not in row['production_companies']:
        continue
    if row['release_year'] in cnt:
        cnt[row['release_year']] += row['revenue']
    else:
        cnt[row['release_year']] = row['revenue']
answers['20'] = sorted(cnt.items(), key=lambda x: x[1])[-1][0]
print(answers['20'])

2014

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [37]:
cnt = {}
for index, row in data.iterrows():
    month = row['release_date'].split('/')[0]
    if month in cnt:
        cnt[month] += 1
    else:
        cnt[month] = 1
answers['21'] = sorted(cnt.items(), key=lambda x: x[1])[-1][0]
print(answers['21'])

9

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [38]:
answers['22'] = cnt['6'] + cnt['7'] + cnt['8']
print(answers['22'])

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [39]:
director2count = {}
for index, row in data.iterrows():
    month = int(row['release_date'].split('/')[0])
    directors = row['director'].split('|')
    if month == 12 or month == 1 or month == 2:
        for director in directors:
            if director in director2count:
                director2count[director] +=1
            else:
                director2count[director] =1
answers['23'] = sorted(director2count.items(), key=lambda x: x[1])[-1][0]
print(answers['23'])

Peter Jackson

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [40]:
company2counts = {}
for index, row in data.iterrows():
    companies = row['production_companies'].split('|')
    title_len = len(row['original_title'])
    for company in companies:
        if company in company2counts:
            company2counts[company].append(title_len)
        else:
            company2counts[company] = [title_len]
answers['24'] = sorted(company2counts.items(), key=lambda x: max(x[1]))[-1][0]
print(answers['24'])

Four By Two Productions

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [41]:
company2counts = {}
for index, row in data.iterrows():
    companies = row['production_companies'].split('|')
    word_cnt = len(row['overview'].split(' '))
    for company in companies:
        if company in company2counts:
            company2counts[company].append(word_cnt)
        else:
            company2counts[company] = [word_cnt]
answers['25'] = sorted(company2counts.items(), key=lambda x: sum(x[1])/len(x[1]))[-1][0]
print(answers['25'])

Midnight Picture Show

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [42]:
title2vote = {}
for index, row in data.iterrows():
    title = row['original_title']
    vote = row['vote_average']
    title2vote[title] = vote
films = sorted(title2vote.items(), key=lambda x: x[1])
best_films = films[(len(films) * 99 // 100):]
answers['26'] = [i[0] for i in best_films]
print(answers['26'])

['Prisoners', 'Dallas Buyers Club', 'The Prestige', 'Eternal Sunshine of the Spotless Mind', 'There Will Be Blood', 'Guardians of the Galaxy', 'Gone Girl', 'The Grand Budapest Hotel', 'Inception', 'The Pianist', 'The Lord of the Rings: The Return of the King', 'The Wolf of Wall Street', '12 Years a Slave', 'Memento', 'Inside Out', 'Room', 'Interstellar', 'The Imitation Game', 'The Dark Knight']

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [46]:
actors2count = {}
for index, row in data.iterrows():
    actors = sorted(row['cast'].split('|'))
    for i in range(len(actors)):
        for j in range(i+1, len(actors)):
            names = actors[i] + "_" + actors[j]
            if names in actors2count:
                actors2count[names] += 1
            else:
                actors2count[names] = 1

answers['27'] = sorted(actors2count.items(), key=lambda x: x[1])[-1][0]
print(answers['27'])

Emma Watson_Rupert Grint

ВАРИАНТ 2

# Submission

In [47]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides',
 '2': 'Gods and Generals',
 '3': 'Winnie the Pooh',
 '4': 109.6585494970884,
 '5': 107.0,
 '6': 'Avatar',
 '7': 'The Lone Ranger',
 '8': 1478,
 '9': 'The Dark Knight',
 '10': 'The Lone Ranger',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker',
 '19': 2015,
 '20': 2014,
 '21': '9',
 '22': 450,
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': ['Prisoners',
  'Dallas Buyers Club',
  'The Prestige',
  'Eternal Sunshine of the Spotless Mind',
  'There Will Be Blood',
  'Guardians of the Galaxy',
  'Gone Girl',
  'The Grand Budapest Hotel',
  'Inception',
  'The Pianist',
  'The Lord of the Rings: The Return of the King',
  'The Wolf of Wall Street',
  '12 Years a Slave',
  'Memento',
  'Inside Out',
  'Room',
  'Interstellar',
  'The Imitation Game',
  'The Dark Knight'],
 '27': 'Emma Watson_Rupert Grint'}

In [45]:
# и убедиться что ни чего не пропустил)
len(answers)

27